@model IEnumerable<FootballSite.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CountryId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.CountryId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.CountryId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
