@model IEnumerable<FootballSite.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Збірні</h1>

<p>
    <a asp-action="Create">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoachFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoachLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoachDateOfBirth)
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachDateOfBirth)
            </td>
          
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeamId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.TeamId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.TeamId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
